.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgb(38, 37, 35);
    padding: 1rem 2rem;
    z-index: 1000;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid #1b1919;
}

.nav-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: 600;
    color: #fdfcfa;
    text-decoration: none;
    letter-spacing: 1px;
}

.nav-content ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

